<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.uapply.mapper.DepartmentMemberMapper">


    <select id="getUserPermission" resultType="com.volunteer.uapply.pojo.DepartmentMember">
        SELECT department_id,department_name,user_id,permission_id
        FROM department_member
        WHERE user_id =#{userId,jdbcType=INTEGER}
    </select>
</mapper>