<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.uapply.mapper.DepartmentMapper">

    <insert id="insertDepartment" useGeneratedKeys="true" keyProperty="departmentId">
        INSERT INTO department(department_name,organization_id,organization_name,department_account,department_pwd)
        VALUES
        (#{departmentName,jdbcType=VARCHAR},#{organizationId,jdbcType=INTEGER},#{organizationName,jdbcType=VARCHAR},
        #{departmentAccount,jdbcType=VARCHAR},#{departmentPwd,jdbcType=VARCHAR})
    </insert>

    <insert id="insertDepartmentInterviewDetail">
    UPDATE department
    SET
    interview_rounds = #{interviewRounds,jdbcType=VARCHAR},param1_name = #{param1Name,jdbcType=VARCHAR},param2_name = #{parma2Name,jdbcType=VARCHAR},
    param3_name = #{param3Name,jdbcType=VARCHAR},param4_name = #{param4Name,jdbcType=VARCHAR},param5_name = #{param5Name,jdbcType=VARCHAR},
    WHERE department_id = #{departmentId,jdbcType=INTEGER}
    </insert>

    <select id="getDepartmentByAccount" resultType="com.volunteer.uapply.pojo.Department">
        SELECT
        department_id,department_name,organization_id,organization_name,department_account,department_pwd,interview_rounds,
        param1_name,param2_name,param3_name,param4_name,param5_name
        FROM department
        WHERE department_account = #{departmentAccount,jdbcType=VARCHAR}
    </select>
    <select id="getDepartmentByDepartmentId" resultType="com.volunteer.uapply.pojo.Department">
        SELECT
        department_id,department_name,organization_id,organization_name,department_account,department_pwd,interview_rounds,
        param1_name,param2_name,param3_name,param4_name,param5_name
        FROM department
        WHERE department_id = #{departmentId,jdbcType=INTEGER}
    </select>
    <select id="getDepartmentByName" resultType="com.volunteer.uapply.pojo.Department">
        SELECT
        department_id,department_name,organization_id,organization_name,department_account,department_pwd,interview_rounds,
        param1_name,param2_name,param3_name,param4_name,param5_name
        FROM department
        WHERE department_name = #{departmentName,jdbcType=VARCHAR}
    </select>
    <select id="getDepartmentsByOrganizationId" resultType="com.volunteer.uapply.pojo.Department">
        SELECT
        department_id,department_name,organization_id,organization_name,department_account,department_pwd,interview_rounds,
        param1_name,param2_name,param3_name,param4_name,param5_name
        FROM department
        WHERE organization_id = #{organizationId,jdbcType=INTEGER}
    </select>
    <select id="getDepartmentById" resultType="com.volunteer.uapply.pojo.Department">
        SELECT
        department_id,department_name,organization_id,organization_name,department_account,department_pwd,interview_rounds,
        param1_name,param2_name,param3_name,param4_name,param5_name
        FROM department
        WHERE department_id = #{departmentId,jdbcType=INTEGER}
    </select>

</mapper>